<!-- <app-page-header></app-page-header> -->

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <app-page-title></app-page-title>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>

<app-page-footer></app-page-footer>